{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home_page.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/master.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/css/bulma-carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
      integrity="sha256-UK1EiopXIL+KVhfbFa8xrmAWPeBjMVdvYMYkTAEv/HI=" crossorigin="anonymous"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"
      integrity="sha256-4hqlsNP9KM6+2eA8VUT0kk4RsMRTeS7QGHIM+MZ5sLY=" crossorigin="anonymous"/>
{% endblock %}

{% block body_class %}template-homepage{% endblock %}
{% block content %}
<!--partie une-->
<section class="section section-bg">
    <div class="columns">

        <div class="column is-8 is-offset-2">
            <div class="container has-text-centered">
                <h1>Le TDA/H</h1>
                <h2 class="title">{{ page.titre_partie_une }}</h2>
                <div class="columns is-vcentered  ">
                    <div class="column has-text-centered is-8 ">
                        <span class="c-contenu-partie-une">{{ page.contenu_partie_une|richtext }}</span>
                    </div>
                    <div class="column is-5">
                        <span class="home_part_one">{% image page.image_partie_une width-200 %}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr class="hr-bleu">
<!--Parallax-->

<!--<div class="parallax-window" data-parallax="scroll" data-image-src="{% static 'images/para.jpg' %}">-->
<section class="hero is-large hero-parallax">
    <div class="hero-body">
        <div class="container">
        </div>
    </div>
</section>
<!--</div>-->
<hr class="hr-orange hr-mobile">
<!--Partie deux-->
<section class="section section-bg">
    <div class="columns">
        <div class="column is-8 is-offset-2">
            <div class="container has-text-centered">
                <h1 class="title">{{ page.titre_partie_deux }}</h1>
                {{ page.contenu_partie_deux|richtext }}
            </div>
        </div>
    </div>
</section>
<hr class="hr-bleu">
<!--Partie article-->

<!-- Start Hero Carousel -->
<section class="section">
    <div class="column is-8 is-offset-2">
        <div class="hero is-large has-carousel">
            <div class="single">
                {% for article in articles %}
                {% image article.banner_image original as art_bkg %}
                <a href="articles.html">
                    <div class="item-container  has-text-centered" onclick="alert('{{article.title }}')">
                        <span class="article-title has-text-white">{{ article.title }}</span>
                        {% if article.banner_image %}
                        <img src="{{art_bkg.url}}" alt="article image">
                        {% else %}
                        <img src="{% static 'images/kidread.jpg' %}" alt="article image">
                        {% endif %}
                    </div>
                </a>
                {% endfor %}
            </div>
            <div class="hero-head"></div>
            <div class="hero-foot"></div>
        </div>
    </div>
</section>
<hr class="hr-orange">

<!--Partie trois-->
<section class="section section-bg">
    <div class="columns">
        <div class="column is-8 is-offset-2">
            <div class="container has-text-centered">
                <h2 class="title">{{ page.titre_partie_trois }}</h2>
            </div>
            <div class="columns  ">
                <div class="column is-8 ">
                    <br>
                    <span class="c-contenu-partie-une">{{ page.contenu_partie_trois|richtext }}</span>
                </div>
                <div class="column is-5">
                    <span class="home_part_one">{% image page.image_partie_trois width-350 %}</span>
                </div>
            </div>
            <div class="container has-text-centered">
                <h3 class="title-cta">{{ page.titre_cta_formation }}</h3>
                <br>
                <a class="button is-large is-link is-outlined " href="//https://www.tdahetco.com/formation/">En savoir
                    plus</a>
            </div>
        </div>
    </div>
</section>
<hr class="hr-bleu">

<!--Partie présentation-->
<section class="section section-bg">
    <div class="columns">
        <div class="column is-8 is-offset-2">
            <div class="container">
                <div class="columns  ">
                    <div class="column is-6 has-text-justified column-presentation ">
                        <br>
                        <span class="c-contenu-partie-presentation">{{ page.contenu_partie_presentation|richtext }}</span>
                    </div>
                    <div class="column is-6 ">
                        <p>Suivez-moi sur Facebook</p>
                        <a class="facebook-a" href="https://www.facebook.com/TdahEtCo/"><img class="facebook-img"
                                                                                             src="{% static 'images/facebook.png' %}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}

{% block extra_js %}
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/parallax.js' %}"></script>
<script>
    $(document).ready(function () {
        $('.parallax-window').parallax({imageSrc: '{% static "images/kid.jpg" %}'});
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/js/bulma-carousel.min.js"></script>

<!--<script>-->
<!--bulmaCarousel.attach('#carousel-demo', {-->
<!--slidesToScroll: 1,-->
<!--slidesToShow: 1,-->
<!--autoplay: false,-->
<!--loop: true,-->
<!--autoplaySpeed: 5000-->
<!--});-->

<!--// To access to bulmaCarousel instance of an element-->
<!--const element = document.querySelector('.item');-->
<!--if (element && element.bulmaCarousel) {-->
<!--// bulmaCarousel instance is available as element.bulmaCarousel-->
<!--element.bulmaCarousel.on('show', function (bulmaCarouselInstance) {-->
<!--console.log(bulmaCarouselInstance.index);-->
<!--});-->
<!--}-->


<!--</script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"
        integrity="sha256-NXRS8qVcmZ3dOv3LziwznUHPegFhPZ1F/4inU7uC8h0=" crossorigin="anonymous"></script>
<script>


    $(document).ready(function () {
        $('.single').slick({
            dots: true,
            arrows: true,
            infinite: true,
            autoplay: true,
            autoplaySpeed: 5000,
            speed: 300,
            slidesToShow: 1,
            adaptiveHeight: true
        });
        // Check for click events on the navbar burger icon
        $(".navbar-burger").click(function () {

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            $(".navbar-burger").toggleClass("is-active");
            $(".navbar-menu").toggleClass("is-active");

        });
    });

</script>
{% endblock %}