
.column-presentation {
    font-family: "Arvo", "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    padding: 0px 20px 20px 20px;
    background-color: #ADADAD;
    color: white;
}

.title-cta {
    padding-top: 15px;
    font-size: 27px;
    font-weight: normal;
}

h1 {
    font-size: 40px;
}

/*!*Start paralax*!*/
/*.hero.has-background {*/
/*position: relative;*/
/*overflow: hidden;*/
/*}*/

/*.hero-background {*/
/*position: absolute;*/
/*object-fit: cover;*/
/*object-position: center center;*/
/*width: 100%;*/
/*height: 100%;*/
/*!*background-attachment: fixed;*!*/
/*!*background-position: center;*!*/
/*!*background-repeat: no-repeat;*!*/
/*!*background-size: cover;*!*/
/*}*/

/*.hero-parallax {*/
/*opacity: 0;*/
/*}*/
/*end paralax*/

.hero-parallax {
    background-image: url("../images/kid.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.hr-bleu {
    background-color: #004EE6;
    height: 2px;
    margin: 0;
}

.hr-orange {
    background-color: #FFAF00;
    height: 2px;
    margin: 0;
}


.facebook-img {
    width: 50px;
}


/*carousel*/


.item-container {
    position: relative;
}

.article-title {
    font-size: 30px;
    text-align: center;
    position: absolute;
    background-color: rgba(0,0,0,.5);
    left: 0;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.slick-prev:before, .slick-next:before {
    color:black !important;
}