{% load menu_tags static %}

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="//www.tdahetco.com">
            <img class="logo-navbar" src="{% static 'images/minilogo.png' %}">
        </a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
           data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicaExample" class="navbar-menu">
        <div class="navbar-start">

        </div>

        <div class="navbar-end">
            {% for item in menu_items %}

            {% if item.has_children_in_menu %}
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="{{ item.href }}">{{ item.text }}</a>
                {% else %}
                <a class="navbar-item" href="{{ item.href }}">{{ item.text }}</a>
                {% endif %}
                {% if item.has_children_in_menu %}
                {% sub_menu item %}
                {% endif %}
                {% if item.has_children_in_menu %}
            </div>
            {% endif %}
            {% endfor %}
            <!--<div class="navbar-item">-->
            <!--<div class="buttons">-->
            <!--<a class="button is-primary">-->
            <!--<strong>Sign up</strong>-->
            <!--</a>-->
            <!--<a class="button is-light">-->
            <!--Log in-->
            <!--</a>-->
            <!--</div>-->
        </div>
    </div>
    </div>
    </div>
</nav>
<hr class="hr-navbar">
